
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
        <% if current_user&.role=="seller" %>
        <div class="flex  w-full justify-between mt-28">
              <%= link_to "Back to products", products_path, class: " text-gray-800 bg-gray-200 py-2 px-4 rounded-full font-bold hover:bg-gray-300 transition-all"%>
               <%= link_to "Edit this product", edit_product_path(@product), class: " text-gray-800 bg-gray-200 py-2 px-4 rounded-full font-bold hover:bg-gray-300 transition-all" %>
              <%= button_to "Destroy this product", @product, method: :delete, class: "text-gray-800 bg-gray-200 py-2 px-4 rounded-full font-bold hover:bg-gray-300 transition-all" %>
              </div>
        <%end%>
    </a>
    <%= render @product %>

 
    <div class="inline-block ml-2">
    </div>
  </div>
</div>
